@model CSE4500.Models.DogRegistration

@{
    ViewData["Title"] = "Register";
 }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Registration Form</title>
    <link rel="stylesheet" href="@Url.Content("~/css/report.css")" />

    <style>
    </style>
</head>

<body>
    <div class="layout">

        <!-- NAVIGATION -->
        <nav class="sidebar">
            <h2>🐾 Menu</h2>
            <ul>
                <li><a asp-controller="Dashboard" asp-action="Admin">Home</a></li>
                <li><a asp-controller="Dog" asp-action="CheckIn">Pooch check in</a></li>
                <li><a asp-controller="Dog" asp-action="DogList">View dogs registered</a></li>
                <li><a asp-controller="Report" asp-action="DailyReport">Daily dog report portal</a></li>
                <li><a asp-controller="Dog" asp-action="CheckOut">Pooch check out</a></li>                
            </ul>
        </nav>

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <!-- HEADER -->
            <div class="header-container">
                <h1>🐾 Dog Registration Form</h1>
            </div>

            <!-- HERO IMAGE -->
            <div class="hero"></div>

            <!-- FORM -->
            <div class="form-container">

                <form asp-action="Register" asp-controller="Dog" method="post">

                   
                    < input asp-for="DogName" placeholder="Enter dog's name" />
                    <br><br>

                    < select asp-for="DobKnown">Is Date of Birth known?</>
                    
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <br><br>

                    <label>Date of Birth:</label>

                    <!-- Day -->
                    <select asp-for="Day">
                        <option value="">Day</option>
                        <script>
                            for (let i = 1; i <= 31; i++) {
                                document.write('<option value="${i}">${i}</option>`);
                            }
                        </script>
                    </select>

                    <!-- Month -->
                    <select asp-for="Month">
                        <option value="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                    <!-- Year -->
                    <select asp-for="Year">
                        <option value="">Year</option>
                        <script>
                            //System allows dog between 0-16 years old, so we will allow for dogs born between 2010-2026
                            for (let i = 2026; i >=2010; i--) {
                                document.write(`<option value="${i}">${i}</option>`);
                               }
                        </script>
                    </select>
                    <br><br>

                    <label asp-for="FirstName">First Name of Guardian</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <label asp-for="LastName">Last Name of Guardian</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>


                    <label asp-for="Phone">
                        Phone number:<br>
                        <small>Format: 123-456-7890</small>
                    </label>

                    <input asp-for="Phone"
                           type="tel"
                           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                           required />

                    <span asp-validation-for="Phone" class="text-danger"></span>

                    <br><br>


                    <label asp-for="EmergencyContact">Is this the best number for emergencies?</label>
                    <select id="EmergencyContact" name="EmergencyContact">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <br><br>

                    <label asp-for="Breed">Breed</label>                    
                        <option>Mix</option>
                        <option>Border Collie</option>
                        <option>Bulldog</option>
                        <option>Lab</option>
                     <br><br>

                    <label>📝 Notes</label>
                    <textarea asp-for="Notes" rows="3" placeholder="If breed is not listed, enter here"></textarea>
                    <br><br>

                    <label>Interaction with other dogs</label><br>
                    <label><input type="radio" asp-for="Interaction"> Friendly</label>
                    <label><input type="radio" asp-for="Interaction"> Selective</label>
                    <label><input type="radio" asp-for="Interaction"> Reactive</label>
                    <br><br>

                    <label>Triggers</label><br>
                    <label><input type="radio" asp-for="Triggers"> Food Guarding</label>
                    <label><input type="radio" asp-for="Triggers"> Toy Guarding</label>
                    <label><input type="radio" asp-for="Triggers"> Loud Noises</label>
                    <br><br>

                    <label>Additional Notes</label>
                    <textarea rows="3"></textarea>
                    <br><br>

                    <button type="submit">Submit Report</button>

                </form>
            </div>
        </div>

    </div> 
</body>
</html>
